<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooperativa de Arte</title>
    <link rel="icon" href="../IMG/logo1.jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/perfiles.css">

    <style>
        /* Estilo para el pie de página */
        .footer ul li a {
            color: #faf7f3;
            text-decoration: none;

        }

        /* Estilo para el logo en la barra de navegación */
        .navbar-brand img {
            max-height: 100%;
            max-width: 100%;
        }

        @media (max-width: 991.98px) {

            /* Estilo para ajustar las tres rayitas del menú en pantallas más pequeñas */
            .navbar-toggler {
                margin-right: 15px;
            }
        }

        /* Estilo para ponerle una imagen de fondo */
        body {
            background-image: url(img/fondo.jpg);
            background-size: cover;
            background-position: center;
        }

        /* Este es porque no pude cambiar el color del enlace en la misma linea del "registrate" */
        .registrate p a {
            color: #696969;
        }
    </style>

</head>

<body>

    <!-- Menú -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0;">
        <div class="container-fluid" style="background-color: #e3d5ca; padding: 5px;">
            <a class="navbar-brand">
                <img src="../IMG/logo1.jpg" alt="Logo de la Cooperativa de Arte" width="100px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="categoria.html">Categoría</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="ingresar_obra.html">Nueva Obra</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <ul class="navbar-nav flex-column flex-sm-row">
                            <li class="nav-item">
                                <a class="nav-link" href="login.html">Iniciar Sesión</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <ul class="navbar-nav flex-column flex-sm-row">
                            <li class="nav-item">
                                <a class="nav-link" href="registro.html">Registro</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div style="display: flex; gap: 10px;">
                    <button class="btn btn-outline-success d-flex align-items-center"
                            type="button"
                            style="width: 50px; height: 50px; border-radius: 8px; color: #ffffff; background-color: #696969; border-color: #faf7f3; position: relative; overflow: hidden;">
                      <a class="nav-link" href="{% url 'carrito' %}" style="color: #ffffff; text-decoration: none; display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16" style="flex-shrink: 0;">
                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                      </a>
                    </button>
                  
                    <form class="d-flex" onsubmit="BuscadorHtml(event)" style="margin-left: 10px;">
                      <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                      <button class="btn btn-outline-success d-flex align-items-center"
                              type="submit"
                              style="width: 50px; height: 50px; border-radius: 8px; color: #ffffff; background-color: #696969; border-color: #faf7f3;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                              viewBox="0 0 16 16">
                          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                        </svg>
                      </button>
                    </form>
                </div>
                  
            </div>
        </div>
    </nav>


    <!-- Contenido de la página -->
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6" style="text-align: center; ">

            </div>
        </div>
    </div>

    <div class="tarjeta">
        <div class="card mb-3">
            <img src="../IMG/artistas.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Nombre artista</h3>

                <div class="card-text">
                    <h5>Estilo artistico</h5>
                    <p>Nombre estilo</p>
                </div>
                <div class="card-text">
                    <h5>Cantidad de obras vigentes</h5>
                    <p>#Obras</p>
                </div>

            </div>
        </div>
    </div>





    <footer class="footer text-dark mt-5" style="background-color: #696969; padding: 10px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled" style="padding: 10px;">
                        <li><a href="nosotros.html">Sobre nuestra Cooperativa</a></li>
                        <li><a href="#">Despacho</a></li>
                        <li><a href="#">Devolución</a></li>
                    </ul>
                </div>
                <div class="col-md-6 text-start">
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                    <li><a href="perfil.html">Perfil</a></li>
                    </ul>
                </div>
                <div class="col-md-12 text-center" style="padding: 10px; color: #bdbaba;">
                    <span>© 2024 Derechos Reservados</span>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <script src="../JS/carrucel.js"></script>
    <script src="../JS/search.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../JS/validacion_formulario.js"></script>

</body>

</html>